#name {
  width: 50%;
  font-size: 40px;
  border-bottom: 4px solid;
}
#box {
  font-family: "Raleway", sans-serif;
  margin-left: 10%;
  margin-top: 5%;
  padding: 2%;
  background: white;
  width: 400px;
}

#mini_box {
  margin-top: 90px;
}

#li_logo {
  background: white;
  width: 50px;
}
#git_logo {
  background: white;
  width: 50px;
}

body {
  background: url(./pictures/mountains.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
